body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
    position: fixed;
    top: 0;

}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 ul.topnav li a:hover:not(.active) {background-color: #111;}
/*ul.topnav li a.active {background-color: #4CAF50;} */

@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}

/*footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #20ACF6;
   color: white;
    height: 86px;
   text-align: center;
}
