
#footer-view-white{
    position: relative;
}

#prof-image{
    width: 150px;
    height: 173px;
    margin-left: 20%;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

.prof-header-view{
    margin: 10px auto;
    padding: 16px;
    text-align: center;
}

.post-category-view-table{
    width: 100%;
    height: 168px;
    margin-right: 10px;

}

img.cate-image {
    height: 100px;
    margin: 0;
}

p.cat-list {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    height: 0;
    color: white;
}

h6 {
    font-size: 20px;
    font-style: inherit;
    font-family: sans-serif;
}
td{
    background-color: #78787836;
    margin: 1px;
    text-align: center;
    border-radius: 6px;
}

.heading-post{
    margin: 10px;
    width: 100%;
}
.center-heading{
    width: 70%;
    background-color: #78787836;
    padding: 10px;
    text-align: center;
    margin: auto;
}