* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section#home, #register,#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  /* scroll-snap-align: center; */
}

section#posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-width: 100vh;
}

section#posts h1 {
  margin-top: 60px;
}

section h1 {
  font-size: 2rem;
  color: #20acf6;
}

/* Section Images */
section#home {
    background-color:#111213;
  /* background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;; */
}

section#posts {
    background-color: #111213;
  /* background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;; */
}

section#register {
    background-color: #111213;
  /* background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;; */
}

section#login {
    background-color: #111213;
  /* background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;; */
}


.profile{
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}

img.prof-image{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.cv-btn{
  background-color: #20acf6;
  border: 0;
  padding: 4px;
  outline: none;
  color: white;
}

.center-heading{
    width: 70%;
    background-color: #78787836;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.heading-post{
    margin: 10px;
    width: 100%;
}

.footer{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #111213;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
}

/* right settings menu */
*,::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.lh--1 {line-height: 1;}
.ls--n {list-style: none;}
.m0 {margin: 0;}

.gNav-mask {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .2s, visibility 0s .2s;
  visibility: hidden;
  z-index: 999;
  cursor: pointer;
}
.gNav-mask-appear {
  opacity: 1;
  transition: opacity .2s;
  visibility: visible;
}
.gNav {
  background: rgba(251, 251, 255, 0.95);
  height: 100vh;
  max-width: 380px;
  overflow: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform .2s, visibility 0s .2s;
  visibility: hidden;
  width: 85%;
  z-index: 1000;
}
.gNav-open {
  transform: translateX(0);
  transition: transform .2s;
  visibility: visible;
}

.gNav-link1 {
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 27px;
  outline: 0;
  padding: 8px 0;
  text-decoration: none;
}
.gNav-link1-home {margin: 0;}
.gNav-link2 {
  display: inline-block;
  color: #48525c;
  font-size: 16px;
  text-decoration: none;
  outline: 0;
  padding: 9px 0;
}
.gNav-link1:active,
.gNav-link1:focus,
.gNav-link1:hover,
.gNav-link2:active,
.gNav-link2:focus,
.gNav-link2:hover {color: #005af0;}

.gNav-closeBtn,
.gNav-openBtn {
  --line_h: 2px;
  --btn_pLR: 13px;
  background: #20acf6;
  top: 4px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  height: 48px;
  outline: 0;
  position: fixed;
  right: 24px;
  width: 48px;
}
.gNav-openBtn {
  --btn_pTB: 16px;
  padding: var(--btn_pTB) var(--btn_pLR);
  z-index: 999;
}
.gNav-closeBtn {
  display: none;
  z-index: 1001;
}
.gNav-openBtn:active,
.gNav-openBtn:focus,
.gNav-openBtn:hover,
.gNav-closeBtn:active,
.gNav-closeBtn:focus,
.gNav-closeBtn:hover {
  box-shadow:
    0 5px 5px -3px rgba(0,0,0,0.2),
    0 8px 10px 1px rgba(0,0,0,0.14),
    0 3px 14px 2px rgba(0,0,0,0.12);
  opacity: .8;
}
.gNav-openBtn::before,
.gNav-openBtn::after,
.gNav-closeBtn::before,
.gNav-closeBtn::after {content: "";}
.gNav-openBtn::before {top: var(--btn_pTB);}
.gNav-openBtn::after {bottom: var(--btn_pTB);}
.gNav-openBtn::before,
.gNav-openBtn::after,
.gNav-closeBtn::before,
.gNav-closeBtn::after,
.gNav-line {
  background: #fff;
  border-radius: calc(var(--line_h) / 2);
  height: var(--line_h);
  left: var(--btn_pLR);
  position: absolute;
  width: calc(100% - var(--btn_pLR) * 2);
}
.gNav-closeBtn::before {transform: rotate(45deg);}
.gNav-closeBtn::after {transform: rotate(-45deg);}

.profile-picture{
  width: 100%;
  height: 200px;
  border:0;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.profile-picture img{
  width: 200px;
  height: 100%;
  border-radius: 50%;
}

form.updateUserInfo {
    width: 100%;
}

input#user-name-input, #user-email-input {
    width: 100%;
    margin: 2px;
    color: white;
    /* border: 0; */
    outline: none;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    background-color: #78787836;
    border-color: #626879;
}

input#update-user-btn {
    padding: 6px;
    font-size: 20px;
    width: 100%;
    float: left;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: #20acf6;
}

#right-panel{
  display: none;
}

.social.media.icons {
    width: 200px;
    height: 60px;
    display: inline-flex;
}

span.welcome-blog{
  font-size: 36px;
}

div#menuList-C {
    background-color: #111213;
}