.portfolia-container{
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 4%;
    position: absolute;
}
.view-more-btn {
    margin: auto;
    padding: 10px;
    width: 215px;
    float: right;
    background-color: #20acf6;
    border: 0;
    outline: none;
    border-radius: 20px;
}

.table-images{
    width: 500px;
    height: 500px;
    position: relative;
    float: right;
}

td img {
    height: 249px;
}